<% provide(:title, t(:help_link)) %>
<h1><%= t(:help_link) %></h1>
<h2><%= t(:what_is) %></h2>
<p><%= t(:what_is_subtext) %></p>
<h2><%= t(:is_reliable) %></h2>
<p><%= t(:is_reliable_subtext) %></p>
<h2><%= t(:what_crypto) %></h2>
<p><%= t(:what_crypto_subtext) %></p>
<h2><%= t(:know_more) %></h2>
<p><%= t(:know_more_subtext) %> <%= link_to t(:here) ,t(:bitcoin_faq)%></p>