<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user, size:50 %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if !@user.daily_question_answered? %>
      <%= render 'layouts/quiz_panel' %>
    <% end %>
    <table class="table">
      <%= render 'layouts/wallet_header_crypto' %>
      <h3><%= t(:my_wallets)%></h3>
      <tbody>
        <% if @wallets.any? %>
          <%= render @wallets %>
        <% end %>
      </tbody>
    </table>
    
    <table class="table">
      <%= render 'layouts/wallet_header_fiat' %>
      <h3> <%= t(:other_coins)%> </h3>
      <tbody>
        <% if @fiat.any? %>
          <%= render @fiat %>
        <% end %>
      </tbody>
    </table>
  
  </div>
</div>