<tr>
  <% if !wallet.coin.is_fiat? %>
    <td > <%= link_to image_tag( "coin_icons/"+wallet.coin.tag+".png", alt: wallet.coin.name ),
              wallet.coin %> </td>
    <td > <%= link_to wallet.coin.name, wallet.coin %> </td>
  <% else %>
    <td > <%= image_tag( "coin_icons/"+wallet.coin.tag+".png", 
          alt: wallet.coin.name ) %> </td>
    <td > <%= wallet.coin.name %> </td>
  <% end %>
  <td > <%= wallet.coin.symbol %> </td>		
  <td > <%= number_with_precision(wallet.units, precision: 8) %> </td>
  <% if !wallet.coin.is_fiat? %>
    <td  style=<%= @colors[wallet.coin.name] %>> <%= number_with_precision(wallet.coin.variations[:day], precision: 8) %> </td>
    <td> <%= link_to t(:sell), new_transaction_path(:type => 'sell',
              :wallet => wallet.id), class: "btn btn-sm btn-primary" %> </td>
  <% end %>
</tr>

