<tr>
  <% if !wallet.coin.is_fiat? %>
    <td> <%= link_to image_tag( wallet.coin.name.downcase+"-small.png", alt: wallet.coin.name ),
              wallet.coin %> </td>
    <td> <%= link_to wallet.coin.name, wallet.coin %> </td>
  <% else %>
    <td> <%= image_tag( wallet.coin.name.downcase+"-small.png", 
          alt: wallet.coin.name ) %> </td>
    <td> <%= wallet.coin.name %> </td>
  <% end %>
  <td> <%= wallet.coin.symbol %> </td>		
  <td> <%= wallet.units %> </td>
  <% if !wallet.coin.is_fiat? %>
    <td> -- </td>
    <td> <%= link_to "Vender", new_transaction_path(:type => 'sell',
              :wallet => wallet.id), class: "btn btn-sm btn-primary" %> </td>
  <% end %>
</tr>

