<tr>
  <td> <%= link_to image_tag( wallet.coin.name.downcase+"-small.png", alt: wallet.coin.name ),
            '#' %> </td>
  <td> <%= wallet.coin.name %> </td>
  <td> <%= wallet.coin.symbol %> </td>		
  <td> <%= wallet.units %> </td>
  <% if !wallet.coin.is_fiat? %>
    <td> -- </td>
    <td> <%= link_to "Vender", '#', class: "btn btn-sm btn-primary" %> </td>
  <% end %>
</tr>

