<div class="ranking-table">
	<h1> <%= t(:ranking) %> </h1>
	<table class="table">
	  <thead>
		  <tr>
		    <th class="col-sm-1"> # </th>
		    <th class="col-sm-4"><%= t(:user) %> </th>
		    <th class="col-md-3"><%= t(:value) %> ($)</th>
		    <th class="col-md-3"><%= t(:value) %> (฿)</th>
		    <th class="col-sm-2">% 1h</th>
		    <th class="col-sm-2">% 24h</th>
		  </tr>
	  <thead>
	  <tbody>
	  	<% users.each_with_index do |user,index| %>
	  	  <tr>
	  	  	<th> <%= index+1 %> </th>
	  	  	<td> <%= gravatar_for user, size:25 %> <%= user.name %> </tD>
	  	  	<td> <%= number_to_currency(user.total_value_fiat, precision:2) %> </td>
	  	  	<td> ฿<%= number_with_precision(user.total_value_bitcoin, precision:8) %></td>
	  	  	<%= content_tag(:td, number_with_precision(user.value_var_1h, precision:2), :class => "state_#{user.value_var_1h.floor}") %>
	  	  	<%= content_tag(:td, number_with_precision(user.value_var_24h, precision:2), :class => "state_#{user.value_var_24h.floor}") %>
	  	  </tr>
	  	<% end %>
	  </tbody>
	</table>
</div>