<tr>
  <td> <%= link_to image_tag( coin.name.downcase+"-small.png", alt: coin.name ),
            coin %> </td>
  <td> <%= link_to coin.name ,coin %> </td>
  <td> <%= coin.symbol %> </td>		
  <td> <%= number_to_currency(coin.value, precision: 8) %> </td>
  <td> <%= number_with_precision(coin.volume, precision: 8) %> </td>
</tr>