<% provide(:title, t(:currencies_link)) %>
<h1><%= t(:currencies_link) %></h1>

<div class="container">
  <%= form_tag(coins_path, :method => "get", id: "search-form", class:"form-inline") do %>
    <div class="form-group">
      <%= text_field_tag :search, params[:search], 
                                  placeholder: t(:search_placeholder), 
                                  class: 'form-control' ,
                                  id:'search-bar'%>
    </div>
    <%= button_tag(type: 'submit', class: "btn btn-primary",id: "search-button" ) do %>
     <i class="glyphicon glyphicon-search"></i> 
    <% end %>
  <% end %>
</div>

<%= will_paginate %>
<table class="table">
  <%= render partial: 'table_header'%>
  <tbody>
    <% @coins.each do |coin| %>
      <% if !coin.is_fiat?  %>
        <%= render coin %>
      <% end  %>  
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
