<% provide(:title, @coin.name) %>
<div class="row">
  <aside class="col-md-5">
    <section class="user_info">
          <h1>
            <%= image_tag( icon_url(@coin.tag),alt: @coin.name  ) %>
            <%= @coin.name+" ("+@coin.symbol+")" %>
            <%= link_to t(:buy), new_transaction_path(:type => 'buy',
              :coin_id => @coin.id), 
              class: "btn btn-sm btn-primary" %>
            <% if @show_sell_btn %>
              <%= link_to t(:sell), new_transaction_path(:type => 'sell',
              :coin_id => @coin.id), 
              class: "btn btn-sm btn-primary" %>
            <% end %>
          </h1>
    </section>
  </aside>
</div>
<table class="table">
  <tbody>
    <%= render 'layouts/table_header_coin' %>
    <tr>
      <td> <%= number_to_currency(@coin.value, precision: 8) %> </td>
      <td> <%= number_to_currency(@coin.volume, precision: 2) %> </td>
      <td> <%= number_to_currency(@coin.market_cap, precision: 2) %> </td>
      <td> <%= number_with_precision(@coin.available_supply, precision: 2) %> <%= @coin.symbol%></td>
  
      <%= content_tag(:td, number_with_precision(@coin.variations[:hour], precision: 2)+"%", :class => "state_#{@coin.variations[:hour] <=> 0}") %>
      <%= content_tag(:td, number_with_precision(@coin.variations[:day], precision: 2)+"%", :class => "state_#{@coin.variations[:day] <=> 0}") %>
      <%= content_tag(:td, number_with_precision(@coin.variations[:week], precision: 2)+"%", :class => "state_#{@coin.variations[:week] <=> 0}") %>
    </tr>
  </tbody>
</table>
<%= content_tag "div", id: "coin_chart", data: {values: @values, 
                                                title: t(:coin_history),
                                                label: t(:axis_label) } do %>
<% end %>