<% provide(:title, @coin.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
          <h1>
            <%= image_tag( @coin.name.downcase+"-small.png", alt: @coin.name ) %>
            <%= @coin.name+"("+@coin.symbol+")" %>
            <%= link_to "Comprar", new_transaction_path(:type => 'buy',
              :wallet => current_user.get_wallet_by_coin(@coin.id)), 
              class: "btn btn-sm btn-primary" %>
          </h1>
    </section>
  </aside>
</div>
<table class="table">
  <tbody>
    <%= render 'layouts/table_header_coin' %>
    <tr>
      <td> <%= number_to_currency(@coin.value, precision: 8) %> </td>
      <td> <%= number_with_precision(@coin.volume, precision: 8) %> </td>
      <td> -- </td>
      <td> -- </td>
      <td> -- </td>
    </tr>
  </tbody>
</table>